
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  background-color: #fff;
}

main
{
  background-color: #fff
}

.container-admin
{
  padding-bottom: 5%;
  padding-top: 5%;  
}

.navbar-laravel 
{
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  text-transform: uppercase; 
  font-size: 13px;
  font-weight: 900;
  color: #000;
  img 
  {
    margin-bottom: 7px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}
.head
{ 
  input::placeholder {
    color: #696969;       
  }
  .form-group {
    margin-bottom: 2rem;
  }
}

.btn-primary-login {
  color: #fff;
  background-color: #0069d9;
  border-color: #0069d9;
  width: 30%;
}
.pt-5
{
  padding-top:none !important;
}

.navbar-nav 
{
 margin-left: 30px;
}

.navbar-sticky
{
  position: sticky;
  top: 0;
  z-index: 999;
  text-transform: uppercase;
}

.nav-product
{
  a {
    color: #000;   
  }
}

.header
{
  background-color: #7777;   

  img
  {
    width: 100%;  
  }
}

.row-top
{
  text-transform: uppercase;
  text-align: center; 
  color: #fff;
  background-color: #000;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.first-row 
{
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  text-align: center; 
  background-image: -webkit-linear-gradient(75deg, #fff 50%, #000 50%);
  min-height: 500px;

  h1
  {
  margin-top: 5%;
  font-size: 60px;
  }

  p
  {
  font-size: 25px;
  }
 }

.secount-row 
{
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.newsletter-row
{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
  text-transform: uppercase;
  text-align: center; 
}

.row-products
{
  width: 100%;
  text-align: center;
  button 
  {
    border: none;
    outline: 0;
    padding: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 40%;
    font-size: 18px;
    text-transform: uppercase;
    height: 50px;
    margin-left: 25%;
  } 
  button:hover 
  {
    opacity: 0.7;
  }  
  p
  {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.8;
  }

  a
{
  text-decoration: none;
  color:black;
}

}

.row-informations
{
  margin-top: 10px;
  font-size: 20px;
  .price
  {
    float: right;
  }
}

.newsletter-row
{
  width: 100%;
  text-transform: uppercase;
  text-align: center;  
  font-weight: 100; 

  h1
  {
  font-size: 60px;
  
  }

  p
  {
  font-size: 25px;
  } 

  button 
  {
    margin-top:40px;
    margin-bottom: 40px; 
    border: none;
    outline: 0;
    padding: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 10%;
    font-size: 18px;
    text-transform: uppercase;
    height: 50px;    
  } 
  button:hover 
  {
    opacity: 0.7;
  }

  input 
  {
    width: 25%;    
  }
  input::placeholder {
    color: #000;
  }

  .news 
  {
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #000;
  }
  

}

.footer
{
  background-color: #000;
  color: #fff;
  text-align: center; 
  display: block;
	width: 100%;
  padding-bottom: 50px;
  padding-top: 50px; 

  .text-footer
  {
    text-transform: uppercase;
  }
  h4
  {
    margin-bottom: 15%;
  }

  .row-end-footer
  {
    margin-top: 5%;
  }  
}

.container-footer
{
  background-color: #f8f8f8;
}

.container-products
{
  margin-bottom: 2%;
  background-color: #fff;
}

.product-data
{
  text-align: left;

  h2
  {
    margin-bottom: 0.5rem;
    font-weight: 900;
    line-height: 1.8;
    font-size: 45px;
  }

  h3
  {   
    font-weight: 600;    
    font-size: 28;
  }

  p
  {
    font-weight: 600;
  }

  .qty
  {
    margin-bottom: 5%;
  }
}

//button counter
.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px
  ;min-width: 35px;
  text-align: center;
}
.qty .plus {  
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  background-color: #f0f0f0;
  color: #000;
  width: 25px;
  height: 25px;
  font: 25px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  }
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  background-color: #f0f0f0;
  color: #000;
  width: 25px;
  height: 25px;
  font: 25px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}
div {
  text-align: left;
}

.minus:hover{
  background-color: #4b494980 !important;
}

.plus:hover{
  background-color: #4b494980 !important;
}

/*Prevent text selection*/
span{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input{  
  border: 0;
  width: 2%;
}

nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:disabled{
  background-color:white;
}
       
.product
{
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-size: 18px;
  height: 50px;
  
} 
button:hover 
{
  opacity: 0.7;
}

.footer-login
{
  position: fixed;
  bottom:7%;
  text-align: center; 

  .span-text {
    font-weight: 900;
    font-size: 20px;
    color: #000;
  }
}

.login
{
  margin-top: 5%;
}
.logo
{
  margin-bottom: 20%;
}

.text-product 
{
  font-weight: 500;
  font-size: 19px;
  color: #5b5b5b;
}

.row-page-product
{
  padding-top: 5%;
}

.social-media {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  background-color: #f0f0f0;
  color: #000;
  width: 50px;
  height: 50px;
  font: 25px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box; 
}

.fab 
{
  margin-top: 25%;  
}